* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", system-ui;
  display: grid;
  place-items: center;
  background-color: #4a4b72;
}

.slider {
  $root: &;
  display: flex;
  flex-direction: column;
  row-gap: 33px;

  &__nav {
    display: flex;
    column-gap: 2px;
  }

  &__button {
    width: 88px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(#fff, 0.5);
    background-color: rgba(#212121, 0.5);
    border: none;
    transition-property: color, background-color, scale;
    transition-duration: 300ms;
    transition-timing-function: ease;
    padding: 0;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: rgba(#fff, 0.7);
        background-color: rgba(#212121, 0.7);
      }
    }

    svg {
      display: block;
      width: 30px;
      aspect-ratio: 1;
    }

    &--active {
      scale: 1.3;
      color: #fff;
      background-color: #212121;
      pointer-events: none;
      box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &__wrap {
    max-width: 364px;
    width: 100%;
    margin-inline: auto;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &__image {
    min-height: 180px;
    background-image: linear-gradient(rgba(#000, 0.35), rgba(#000, 0.35)),
      url("./img/food.avif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 6px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }

  &__location {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #fff;

    svg {
      width: 20px;
      aspect-ratio: 1;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    color: #999999;
    text-decoration: none;

    &:not(:last-child) {
      border-bottom: 2px solid #dddddd;
    }

    @media (hover: hover) {
      &:hover {
        #{$root} {
          &__count {
            color: #000;
            scale: 1.3;
          }
        }
      }
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
  }

  &__count {
    font-weight: 500;
    font-size: 18px;
    transition-property: color, scale;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }
}
